.register {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    padding-top: 10rem;
    background: rgb(0,48,57);
    background: linear-gradient(0deg, rgba(0,48,57,1) 8%, rgba(0,101,121,1) 100%);

}

.register_form form {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.register_title {
    margin-bottom: 3rem;
}

.register_title h1 {
    color: white;
}

.form_inputField {
    position: relative;
}

.form_inputField .label {
    position: absolute;
    bottom: 0.5rem;
}

.label label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

.form_submitButton {
    padding-bottom: 3rem;


}

.login_link {
    display: flex;
    justify-content: center;
}

.login_link p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8rem;
}

.login_link span {
    color: white;
    font-weight: 600;
}

.input_container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 1rem;
}

