.button {
    width: 100%;
    border: none;
    padding: 1rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    box-sizing: border-box;
    transition: 0.5s;
}

.button:hover {
    background-color: white;
    color: rgba(0,101,121,1);
}