.inputField {
    position: relative;
    width: 100%;
}

.input input{
    width: 100%;
}

.watcher_password {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watcher_password img {
    width: 2rem;
    height: 1rem;
    cursor: pointer;
}