.inputField {
    position: relative;
    width: 100%;
}

.input input{
    width: 100%;
}

.watcher_password {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watcher_password img {
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    filter: invert(100%);
}

.input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    padding: 0.5rem 0;
    padding-left: 6rem;
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
}

.input input:focus {
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}